
header {
  font-family: "fira-sans-2";
  color: black;
  background-color: #FFFFFD;
 }
h1 {
  font-family: "penna-connected-swashes",sans-serif;
  font-size: 40px;

  }


h2 {
    font-family: "penna-connected-swashes",sans-serif;
   color: #900C3F;
   font-size: 70px;
}



p{ 
	font-family: "fira-sans-2";
	color: black;

}
